.header{
  background-color:#2f8e5cde;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;

}

h2{
  color: aquamarine;
  background: transparent;
}
button{
background-color: darkgoldenrod;
}
